// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
//$font-family: 'Aclonica', sans-serif;
//$font-family: 'Rubik Bubbles', cursive;
$font-family: Cairo;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
